@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.hero{
    display: flex;
  gap: 10px;
    align-items: center;
}
.hero-img{
    max-width:3rem;
    max-height: 3rem;
    cursor: pointer;
}
/* shared styles */
.display-flex{
    display: flex;
}

.text-primary{
    color: #FF900E;
}

/* dark 02 */
.text-gray{
    color: #424242;
}

/* dark03 */
.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

/* header styles */

/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
}

.banner-image{
    width: 100%;
}

/* team and feature related styles */
.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features{
    margin-left: 130px;
    max-width: 530px;
}

#quick-list{
    font-weight: 500;
}
.dag-dilam{
width: 4px;
height: 110px;
border-radius: 5px;
background: rgba(255, 89, 89, 1);
}

.features-container{
    display: flex;
    gap: 120px;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}
.feature-love-title{
    font-size: 3rem;
    font-weight: 700;
}
.dag-thik{
    display: flex;
align-items: center;
    gap: 10px;
}
.feature-img{
    max-width: 800px;
}

.f-img{
    width: 90%;
    height: auto;
}
.feature-title{
    font-size: 2.5rem;
}

.feature-items{
    flex-direction: column;
    gap: 20px;
}

.f-des{
    width: 586px;
}

.feature-content{
    width: 586px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px rgba(0,0,0,0.06);
    background: #fff;
}

.btn-ex{
    margin-top: -115px;
    margin-left: -90px;
}
.fact-item{
width: 241.83px;
height: 241.83px;
box-sizing: border-box;
border: 1px solid rgba(255, 144, 14, 1);
border-radius: 8px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.fact-img{
    width: 3rem;
}
.facts-container{
    justify-content: center;
    gap: 124px;
    margin-top: 108px;
}
.s-content{
    max-width:33.8rem;
}
.sponspor-title{
    font-size: 2.5rem;
    font-weight: 700; 
    margin-bottom: 24px;
}
.s-img{
    margin-top: 50px;
display: flex;
gap: 150px;
}
.sp-img{
    width: 10.3rem;
    filter: grayscale(100%);
    opacity: 0.7;
}
.sp-img:hover{
    filter: grayscale(0%);
    opacity: 1;
}
.sponspors{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 130px;
}
footer{
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
width: 90%;
padding: 1rem;
border-radius: 8px;
background: rgba(255, 244, 231, 1);

}
/* responsive media  */ 
@media screen and (max-width: 576px) {
.s-img{
    flex-direction: column;
    gap: 30px;
}
.footer{
    padding: 15px;
}
    .navbar,
    .nav-links,
    .teams {
        flex-direction: column;
    }

    .team-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .our-features {
        margin-left: 10px;
              display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  
    .features-container {
        flex-direction: column;
        padding: 20px;
        gap: 40px;
        text-align: center;
    }

    .dag-thik {
        gap: 5px;
        justify-content: center;
    }

    .dag-dilam {
        height: 80px;
    }

    .feature-love-title {
        font-size: 2.2rem;
    }

    .f-des,
    .feature-content {
        width: 90%;
        padding: 20px;
        text-align: left;
        margin: 0 auto;
    }

    .feature-img {
        max-width: 100%;
        margin: 0 auto;
    }

    .btn-ex {
        font-size: 2.5rem;
        padding: 20px;
        margin-top: -50px;
        margin-left: 0;
    }
    .some-facts{
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
    }
    .facts-container{
        flex-direction: column;
        gap: 50px;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .s-img{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
.facts-container{
    flex-wrap: wrap;
}
.fact-title,.fact-description{
    text-align: center;
}
    .teams {
        flex-direction: column;
    }

    .team-img-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .feature-title{
        font-size: 2.5rem;
    }

    .our-features {
        margin: 50px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .features-container {
        flex-direction: column;
        gap: 50px;
        text-align: center;
        padding: 20px;
    }
    .feature-love-title{
        font-size: 2.5rem;
    }
    .f-des{
       display: flex;
       justify-content: center;
     
    }

    .dag-thik {
        justify-content: center;
    }

    .f-des,
    .feature-content {
        width: 90%;
        margin: 0 auto;
        text-align: left;
    }

    .feature-img {
        max-width: 500px;
        margin: 0 auto;
    }

    .btn-ex {
        margin-top: -80px;
        margin-left: 0 ;
    }
}
